.wrapper {
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
    display: flex;
    width: 100%;
}

.inner {
    height: 100%;
    line-height: var(--default-layout-header-height);
    width: 80%;
    text-align: center;
    justify-content: space-between;
}

.inner {
    display: flex;
    align-items: center;
    :hover {
        cursor: pointer;
    }
}

.logo {
    display: flex;
    justify-content: flex-start;
    height: 152px;
    overflow: hidden;
}

.search {
    display: flex;
}
.loading {
}
.search {
}
.action {
}
