.wrapper {
    display: flex;
    flex-direction: column;
}

.container {
    width: 80%;
    min-height: 100px;
    align-self: center;
    display: flex;
}

.content {
    flex: 1;
    background-color: #ccc;
    min-height: 1000px;
}
